/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 62.5%;
}
i {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0.5rem 0.5rem;
  font-size: 2rem;
  color: rgb(225, 228, 229);
  align-self: flex-start;
}

i:hover {
  cursor: pointer;
}
body {
  padding: 2% 3% 3%;
  font-family: "Fira Sans", "Roboto", sans serif;
}

h2,
h1 {
  font-size: 4rem;
  margin: 0 auto;
  padding-bottom: 1rem;
  max-width: 85rem;
  color: rgb(49, 68, 108);
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(49, 68, 108);
}

p {
  font-size: 1.8rem;
  color: rgb(188, 191, 192);
  margin: 0.5rem;
}

img {
  width: 90%;
  display: block;
  margin: 0 auto;
  max-width: 100rem;
  padding: 2rem;
}

.center {
  text-align: center;
}
/******************************************
/* LAYOUT
/*******************************************/
.container {
  display: flex;
  align-content: center;
}

.body-container {
  margin: 0 auto;
}

.question-container {
  flex-flow: column wrap;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  padding: 0 1rem;
}
.question-container > * {
  width: 60%;
  max-width: 85rem;
}

.question-block {
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 1rem 2rem 1rem;
  border: 2px solid rgb(242, 244, 245);
  border-radius: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden {
  display: none;
}

section:first-of-type > p {
  width: 30%;
  margin: 0 auto;
  min-width: 47rem;
  padding: 1rem;
}
